.backg {
  background-color: rgb(117, 182, 255);
}

.pillar {
  float: left;
  width: 500px;
  padding: 5px;
  height: 500px;
}
.heyp::after {
  content: "";
  clear: both;
  display: table;
}
.radas {
 color: blue;
 font-size: 60px;
 text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 25px;
}
li a {
  display: inline;
  display: block;
  float: left;
  width: 200px;
  padding: 0;
  margin: 0;
  background-color: rgba(245, 245, 220, 0.575);
  text-align: center;
  cursor: pointer;
  height: 55px;
}
li a:hover {
  background-color: chocolate;
}
.ann {
  text-align: center;
}
.accordion {
  background-color:beige;
  color: crimson;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: center;
  outline: none;
  transition: .4s;
}
.accordion:hover {
  background-color: gray;
}
.panel {
  padding: 0 18px;
  background-color: paleturquoise;
  display: none;
  overflow: hidden;
}
.math {
  text-align: center;
}
.sourcea {
  font-size: 20px;
  background-image: linear-gradient(to right, rgb(247, 0, 255), rgb(0, 195, 255));
}

.nasas {
  height: 400px;
  width: 700px;
}
.eartha {
  height: 250px;
  width: 270px;
}
.eartha:hover {
  animation: shake .75s;
  cursor: pointer;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
@media screen and (max-width:600px) {
  .nasas {
    height: 150px;
    width: 300px;
  }
}
@media screen and (max-width: 600px) {
  .backg {
    background-color: azure;
  }
}
.beaut {
      background-image: linear-gradient(to right, rgb(0, 255, 234) , rgb(0, 140, 255));
}
.tyui { background-image: linear-gradient(to right, #00ccff , #99ffcc);
}
.plm {
    background-image: linear-gradient(to right, #00ffcc 0%, #339966 100%);
}
.qaz {
    background-image: linear-gradient(to right, #0066ff 0%, #009933 100%);
    color: azure;
}
.yoyo {
  font-size: 22px;
  background: rgba(0, 98, 128, 0.582);
}
.uip {
  font-size: 20px;
}
.pkn {
  font-size: 40px;
}
.uhb {
  font-size: 40px;
}
.edc {
  font-size: 20px;
}
.rfv {
  font-size: 40px;
}
.vfr {
  font-size: 20px;
}
.wsx {
  font-size: 40px;
}
.xsw {
  font-size: 20px;
}
.mnb {
  border: teal solid 5px;
}

